*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.container{
width:400px;
padding:30px;
background:white;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.tabs{
display:flex;
margin-bottom:20px;
}

.tab{
flex:1;
padding:12px;
border:none;
background:#eee;
cursor:pointer;
}

.tab.active{
background:#4facfe;
color:white;
}

.form{
display:none;
}

.form.active{
display:block;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;
border:1px solid #ccc;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#4facfe;
color:white;
cursor:pointer;
font-size:16px;
}

button:hover{
opacity:.9;
}

.password-box{
position:relative;
}

.eye{
position:absolute;
right:10px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
}

#message{
margin-top:15px;
font-weight:bold;
text-align:center;
}

#passwordError{
color:red;
font-size:13px;
margin-bottom:10px;
}

.terms{
display:flex;
align-items:center;
gap:10px;
margin:15px 0;
font-size:14px;
cursor:pointer;
}

.terms input{
width:auto;
margin:0;
}

.forgot{
text-align:center;
margin-top:10px;
font-size:13px;
color:#4facfe;
cursor:pointer;
}

.forgot:hover{
text-decoration:underline;
}